header {
  position: fixed;
  width: 100%;
  z-index: 5;
}

h2{
  margin: 0;
}

nav {
  // background-color: black;
  opacity: 0.5;
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 0.2rem 1rem;
      border-style: solid;
      color: white;
      background-color: black;
      cursor: pointer;
      &.active{
        background-color: #3b3b3b;
        border: 3px solid blue;
      }
    }
  }
}

h2 {
  text-align: center;
}
