nav {
  background-color: black;
  opacity: 0.5;
  border-radius: 10px;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      position: relative;
      border: 1px solid white;
      margin: 0.5rem 0;
      a {
        color: white;
      }
    }
  }
}

.fixed{
  position: fixed;
  // left: 0;
  top:0;
  // width: 100vw;
  z-index: 5;
}

h2 {
  text-align: center;
}
