.card {
  // height: 13rem;
  // overflow-y: hidden;
  margin: 0.3rem 0;
  border-radius: 1rem;
}

.card-text {
  height: 7rem;
  overflow-y: hidden;
}
.tool {
  font-size: 0.8rem;
  .datetime {
    text-align: right;
    font-style: italic;
  }
}
